p{
    margin: auto;
    text-align: center;
}
body{
    background-image: url(https://th.bing.com/th/id/OIP.Ho-WXb6lokL6TuQHtJcWqQHaEL?rs=1&pid=ImgDetMain);
   
    background-repeat:no-repeat;
    background-size: cover;
}
.picture{
    width: 150px;
}

    
  
 
  
  
  
 
  
 