@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
	<h3>Контакти</h3>
</div>
<div>
	<h4>ОУ Васил Левски</h4>
</div>
<div>
	<p.>Адрес: гр. Бургас, ул.Центъра 15 </p.>
</div>

<div>
	<p.>Телефон: +358 886 696 458</p.>
</div>