@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">СОУ Васил Левски</h1>
</div>
<div>
	<p>ОУ Васил Левски е основано 1920г. от Диляна Дидкова. С истрория повече от 104 години, това е едно от първите училища в района. С истрория повече от 104 години, това е едно от първите училища в района. С истрория повече от 104 години, това е едно от първите училища в района. С истрория повече от 104 години, това е едно от първите училища в района. С истрория повече от 104 години, това е едно от първите училища в района.</p>
</div>
